# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ingore IntelliJ IDEA 
.intellij_idea
.idea
.vscode
.vercel

.android_studio
.android_sdk

# Ingore Config

local.properties

/config/ifl_config.json
/config/keystores

# Instafel APP

/app/build
/app/output


# Instafel Patcher

/patcher/output
/patcher/core/bin
/patcher/core/build
/patcher/cli/bin
/patcher/cli/build
/patcher/core/src/main/resources/patcher-core.properties
/patcher/cli/src/main/resources/patcher.properties

# Instafel GPlayAPI

/gplayapi/output
/gplayapi/build
/gplayapi/.gradle
/gplayapi/bin
/gplayapi/src/main/resources/gplayapi.properties

# Instafel Updater

/updater/output
/updater/*.iml
/updater/.gradle
/updater/local.properties
/updater/.idea/caches
/updater/.idea/libraries
/updater/.idea/modules.xml
/updater/.idea/workspace.xml
/updater/.idea/navEditor.xml
/updater/.idea/assetWizardSettings.xml
/updater/.DS_Store
/updater/build
/updater/captures
/updater/.externalNativeBuild
/updater/.cxx
/updater/local.properties